/*Your styles*/
 body {
    /*margin: 2px;*/
    overflow-x: hidden;
    color:#f7efd5;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(
  45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent);
}

.button-large,
.button-large-cta,
.sectionLabel,
h4 {
  color:#f7efd5;
}

#btn_initialize,
#toggleLoop,
#border_bttnDiv,
#static_bttnDiv,
#corner_bttnDiv{
  display:inline-block;
}

.button-large,
.button-large-cta {
  width:100%;
  height:100%;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  box-shadow: inset 0 2px rgba(115, 115, 115, .7);
}

.button-large {
  border: 1px solid #333434;
  background-color: rgb(89, 91, 91);
}

.button-large:hover {
  background-color: #767878;
}

.button-large:active {
  background-color: #414141;
  box-shadow: 0px 0px 0px #000000;
}

.button-large:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.button-large-cta {
  border:none;
  border-bottom: 2px solid #333434;
  background-color:#544859;
  font-size: 14px;
  line-height: 1.313rem;
}

.button-large-cta:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.button-large-cta:hover {
  background-color:#6c5d72;
}

.button-large-cta:active {
  box-shadow: 0px 0px 0px #000000;
  border:none;
  background-color:#564f59;
}

.icon-button {
  border:none;
  width:30px;
  height:100%;
  right:4px;
  float:right;
  line-height: 15px;
  padding:0px;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  background:rgba(0, 0, 0, 0);
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid #544859;
  border-radius: 15px;
  color:#544859;
}

.circle span {
  margin: 0;
}

.icon-button:hover > .circle {
  cursor: pointer;
  border: 1px solid #f7efd5;
  color: #f7efd5;
}

.text-input {
  margin: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1.313rem;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0 0.563rem;
  border: 1px solid #333434;
  background-color: #454646;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
  color: #f7efd5;
  vertical-align: top;
}

.text-input:focus {
  border:1px solid #fb4f00;
}

.text-input:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

#content {
  margin-top:80px;
  margin-right:auto;
  margin-left:auto;
  width:100%;
  flex: 1;
  overflow: auto;
  align-content: center;
  overflow-x: hidden;
}

#header {
  background:#262327;
  height:50px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: +2;
}

#header img {
  margin: 0;
  position: absolute;
  top: 27px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sectionLabel{
  background:#262327;
  width:100%;
  height:30px;
  margin-bottom: 1px;
}

.sectionLabel h2{
  position: absolute;
  margin:0;
  margin-top: 5px;
  left: 8px;
}

.contRow {
  width:100%;
  margin-top:4px
}

.ct_over {
  display:flex;
  width:100%;
  height:40px;
  border:none;
  border-right: 10px solid #db2841;
  box-shadow: inset 0 -1px #333434;
  background-color: #595b5b;
  position: absolute;
  right:0px;
  transition: right .2s ease-in-out;
}

.ct_over h4{
  margin:0px;
  display: inline-block;
  color: #414141;
  position: absolute;
}

.ct_over .text-input {
  flex-grow:1;
  margin-top:15px;
  width:100%;
  border:none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
  color: #f7efd5;
  cursor: text;
}

.ct_over .text-input:invalid {
  border-left:6px solid rgba(251, 79, 0, 1);
}

.ct_under {
  width:100%;
  height:40px;
  background:#262327;
  margin-top:1px;
}

.ct_over:focus {
  right:40px;
  pointer-events: none;
}

/***********initalize button**********/
#init_bttnDiv {
  z-index: +2;
  height:30px;
  position:fixed;
  top:50px;
  left:-4px;
  right:-4px;
  background-color: #3f4041;
}

/*Misc settings*/
#miscSettings{
  display: flex;
}

/*BORDER*/
#border_bttnDiv {
  flex-grow:1;
  float:left;
  width: auto;
  height: 50px;
  top: 82px;
}

#border_flyout {
  width:200px;
  height:29px;
  top:135px;
  left:2px;
  position:absolute;
  background-color: #414141;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  z-index: +1;
  display:none;
}

#border_flyout_fields {
  display: flex;
  width:100%;
  height:100%;
}

#point {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #414141 transparent;
  top:-10px;
  left:2px;
}

#border_flyout .text-input {
  flex-grow: 1;
  width: auto;
  height:25px;
  margin: 2px;
  display:inline-block;
}

/**************STATIC***********/
#static_bttnDiv {
  flex-grow:1;
  width: auto;
  height: 50px;
  top: 82px;
  float:left;
}

/**********LOOP TOGGLE***********/
#toggleLoop {
  flex-grow:0;
  width: 80px;
  height: 50px;
}

#toggleLoop .switch__toggle:before {
  content: 'LOOP';
  color: #fb4f00;
  background-color: #3f4041;
  right: 2rem;
  padding-left: 0.75rem;
}

#toggleLoop .switch__toggle:after {
  content: 'REPLAY';
  background-color: #3f4041;
  color:#f7efd5;
  left: 0.8rem;
  padding-left: 0.6rem;
}

#click_bttnDiv{
  height:30px;
  width:100%;
}


/*********DISCLAIMER*********/
.disc_top {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #414141;
  background-color: #595b5b;
  text-align: left;
}

#btn_sub_disc {
  padding-left:4px;
  text-shadow: 0 -1px rgba(0,0,0,0);
}

#btn_sub_disc_div {
  width:30px;
  height:30px;
  position: absolute;
  margin: 0;
  padding: 0;
  right:4px;
}

#btn_sub_disc .circle {
  border: 1px solid #262327;
  border-radius: 15px;
  color:#262327;
}

#btn_sub_disc:hover > .circle {
  cursor: pointer;
  border: 1px solid #f7efd5;
  color: #f7efd5;
}

.disc_top h4{
  margin: 0px;
  display: inline-block;
  color: #414141;
}

.disc_textarea {
  box-sizing: border-box;
  background-clip: padding-box;
  margin: 0px;
  font: inherit;
  color: #f7efd5;
  vertical-align: top;
  resize: vertical;;
  outline: none;
  padding: .5rem;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  border: 1px solid #333434;
  background-color: #454646;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
  letter-spacing: 0;
  width:100%;
  display: none;
}

#disc_settings {
  width: 100%;
  height: 130px;
  display:none;
}

#disc_settings_top_labels {
  display:flex;
  justify-content: flex-start;;
  margin-top:6px;
  margin-bottom:6px;
}

#label1 {
  width:auto;
  flex-grow: 1;
  text-align: center;
  padding-top: 6px;
}

#label2 {
  width: 80px;
  flex-grow: 0;
  text-align: center;
  padding-top: 6px;
}

#label3 {
  width: 50px;
  flex-grow: 0;
  text-align: center;
}

#disc_settings_top_labels h4 {
  margin: 0px;
}

#corner_bttnDiv{
  flex-grow:1;
  width: auto;
  height: 50px;
  top: 82px;
  float:left;
}

#sc_bttnDiv,
#rc_bttnDiv {
  flex-grow:1;
  float:left;
  width: auto;
  height: 50px;
  top: 82px;
}

#rc_icon,
#sc_icon {
  background-color:black;
  width:80%;
  height:30px;
  margin-top:5px;
  float:right;
  border-left:1px solid #9b9d9d;
  border-top:1px solid #9b9d9d;
  opacity:0.4
}

#rc_icon {
  border-top-left-radius: 8px;
}

#btn_sharpCorner {
  box-shadow: inset 0px -3px 0px #fb4f00;
}

#toggleHover {
  flex-grow:0;
  width: 80px;
  height: 50px;
  display: inline-block;
}

#toggleHover .switch__toggle:before {
  content: 'HOVER';
  color: #fb4f00;
  background-color: #3f4041;
  right: 2rem;
  padding-left: 0.4rem;
}

#toggleHover .switch__toggle:after {
  content: 'CLICK';
  background-color: #3f4041;
  color:#f7efd5;
  left: 0.8rem;
  padding-left: 1rem;
}

#toggleClick {
  flex-grow:0;
  width: 50px;
  height: 50px;
  display: inline-block;
}

#toggleClick .switch__toggle {
  margin-left: -0.7rem;
}


#toggleClick .switch__toggle:before {
  color: #fb4f00;
  background-color: #3f4041;
  right: 2.2rem;
  padding-left: 2.3rem;
}

#toggleClick .switch__toggle:after {
  background-color: #3f4041;
  color:#f7efd5;
  left: 0.8rem;
  padding-left: 0.5rem;
}

#toggleClick .switch__input:checked + #switch__toggle_click {
  margin-left: 1.5rem;
}

#disc_settings_fields_labels {
  display:flex;
  justify-content: space-around;
  margin-top:5px;
  margin-bottom:5px;
}

#disc_settings_fields_labels h4 {
  margin:0;
}

#txt_discColor,
#txt_discFontColor {
  flex-grow: 1;
  width: auto;
  margin-top:2px;
  margin-left:2px;
  margin-right: 2px;
  display:inline-block;
}

#rng_opacity {
  flex-grow: 1;
  width:auto;
  margin-top:10px;
}

#txt_clickDisc {
  width:27px;
  height:20px;
  line-height: 1px;
  float:right;
  position: absolute;
  right: 38px;
  margin-top:5px;
}

/**********FOOTER*************/
#footer {
  height:69px;
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px;
  padding:0px;
  background-color: #3f4041;
}

#pub_btn_div,
#jpg_btn_div {
  height: 40px;
  flex-grow:1;
  margin:0;
}

#pub_btn_div{
  border-right: 2px solid #3f4041;
  width: 40%;
}

#jpg_btn_div {
  width: 60%;
  display: flex;
}

#txt_jpegQuality {
  color: #f7efd5;
  width: 35px;
  margin-left:10px;
  display:inline-block;
  position: absolute;
  margin-left:38%;
  margin-top: 8px;
}

#jpg_btn_div span {
  flex-grow: 1;
  text-align: right;
  color: #f7efd5;
  font-size: 12px;
  line-height: 1.313rem;
  cursor: default;
  position: absolute;
  width:34%;
  margin-top: 8px;
  pointer-events: none;
}

#static_field:hover + #btn_publishJpg {
  background-color: #6c5d72;
}

#txt_jpegQuality:focus + #btn_publishJpg {
  background-color:#544859;
}

#leftLines {
  position:fixed;
  bottom:3px;
  left:3px;
}

#rightLines {
  position:fixed;
  bottom:3px;
  right:3px;
}

#btn_reset {
  position:fixed;
  bottom:6px;
  right:20px;
  cursor:pointer;
}

#btn_reset:hover {
    transform: rotate( -360deg );
    transition: transform 400ms ease;
    cursor:pointer;
}

#sizeDisplay {
  position:fixed;
  bottom:10px;
  margin:0px;
  left:20px;
  color:#f7efd5;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
