/*Your styles*/
 body {
    margin: 2px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(
  45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent);
}

.topcoat-button--large,
.topcoat-button--large--cta,
.topcoat-tab-bar__button,
.topcoat-icon-button--quiet,
.topcoat-text-input,
.topcoat-textarea,
.topcoat-button-bar__button--large{
  color:#f7efd5;
}

#content {
  margin-top:80px;
  margin-right:auto;
  margin-left:auto;
  width:100%;
  flex: 1;
  overflow: auto;
  align-content: center;
}

#header {
  background:#262327;
  height:50px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: +1;
}

#header img {
  margin: 0;
  position: absolute;
  top: 27px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#nav {
  width:100%;
  position:fixed;
  top:50px;
  z-index: +1;
}

.sectionLabel {
  display:inline-block;
  /*background:#444444;*/
  padding-right:5px;
  margin-left: 3px;
  color:#f7efd5;
}

.sectionRule {
  width:92%;
  position: absolute;
  display:block;
  z-index: -1;
  border-color:#58595A;
}

.contRow {
  width:100%;
  margin-top:10px
}

#get_info {
  width:98%;
}

#init_bttnDiv {
  width:58%;
  display:inline-block;
  margin-right:10px;
}

#btn_initialize {
  display:inline-block;
}

#toggleLoop,
#toggleHover,
#toggleClick {
  display:inline-block;
}

#switch__toggle_hover::before {
  content: 'HOVER';
  padding-left: 0.55rem;
}

#switch__toggle_hover::after {
  content: 'CLICK';
  padding-left: 0.6rem;
}

#toggleClick {
  margin-left:4px;
}

#click-switch {
  width: 3rem;

}

#switch__toggle_click {
  margin-left: -0.65rem;
  transition: margin-left 0.05s ease-in-out;
}

#switch__toggle_click::before {
  content: 'ON';
  padding-left: 2.2rem;
}

#switch__toggle_click::after {
  content: 'OFF';
  padding-left: 0.38rem;
  left: 0.9rem;
}

#chk_clickToggle:checked + #switch__toggle_click {
  margin-left: 1.37rem;
}

#border_bttnDiv {
  width:30%;
}
#btn_border {
  margin-left:2px;
  width:99%;
}

#border_fields,
#disc_fields {
  width: auto;
}

#txt_borderWidth {
  width: 25%;
  margin-top:2px;
  margin-left:5px;
  display:inline-block;
}

#txt_borderColor {
  width: 40%;
  margin-top:2px;
  display:inline-block;
}

#click_fields {
  width:98%;
  margin-left:2px;
  margin-bottom:5px;
}

.addSub {
  display:inline-block;
}

/*.contRow .addSub .topcoat-icon-button--quiet {
  display:inline-block;
}*/

#click_fields .topcoat-text-input{
  display:inline-block;
}

#pub_bttnDiv {
  margin-bottom:35px;
}

#static_bttnDiv {
  width:30%;
}

#static_field {
  width: auto;
}

#txt_jpegQuality {
  width: 20%;
  margin-top:2px;
  margin-left:5px;
  display:inline-block;
}

#footer {
  height:39px;
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px;
  padding:0px;
  background-image: url("../images/footer.png");
}

#leftLines {
  position:fixed;
  bottom:3px;
  left:3px;
}

#rightLines {
  position:fixed;
  bottom:3px;
  right:3px;
}

#btn_reset {
  position:fixed;
  bottom:6px;
  right:20px;
  cursor:pointer;
}

.over {
    transform: rotate( -180deg );
    transition: transform 300ms ease;
}

.out {
    transform: rotate( -360deg );
    transition: transform 300ms ease;
}

#sizeDisplay {
  position:fixed;
  bottom:10px;
  margin:0px;
  left:20px;
  color:#f7efd5;
}

#txt_discColor,
#txt_discFontColor {
  width: 30%;
  margin-top:2px;
  margin-left:5px;
  display:inline-block;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
